<div class="container-fluid py-5" id="about">
  <div class="container">
    <div class="position-relative d-flex align-items-center justify-content-center">
      <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">About</h1>
      <h1 class="position-absolute text-uppercase text-primary">About Me</h1>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-5 pb-4 pb-lg-0">
        <img class="img-fluid rounded w-100" src="about3.png" alt="">
      </div>
      <div class="col-lg-7">
        <h3 class="mb-4">Software Engineering Student</h3>
        <p>I am a highly motivated and versatile engineering student currently pursuing a dual degree program
          between the École Nationale Supérieure d'Ingénieurs de Tunis <a
            href="https://www.ensit.tn/">(ENSIT)</a> and the École Nationale
          Supérieure de l'Électronique et de ses Applications <a href="https://www.ensea.fr/">(ENSEA)</a> in
          France. With a strong foundation in
          software development, artificial intelligence, and embedded systems, I have consistently excelled in
          both academic and extracurricular pursuits.</p>
        <div class="row mb-3">
          <div class="col-sm-6 py-2"><h6>Name: <span class="text-secondary">HADJ SASSI Mahdi</span></h6></div>
          <div class="col-sm-6 py-2"><h6>Birthday: <span class="text-secondary">1 Mai 2000</span></h6></div>
          <div class="col-sm-6 py-2"><h6>Degree: <span class="text-secondary">Engineering</span></h6></div>
          <div class="col-sm-6 py-2"><h6>Experience: <span class="text-secondary">6 Years</span></h6></div>
          <div class="col-sm-6 py-2"><h6>Phone: <span class="text-secondary">+33 7 45 48 80 29</span></h6>
          </div>
          <div class="col-sm-6 py-2"><h6>Email: <span class="text-secondary">mahdihadjsassi1&#64;gmail.com</span>
          </h6>
          </div>
          <div class="col-sm-6 py-2"><h6>Address: <span
            class="text-secondary">25, BD Oise, Cergy 95000, France</span></h6></div>
          <div class="col-sm-6 py-2"><h6>Freelance: <span class="text-secondary">Available</span></h6></div>
        </div>
        <a href="mailto:mahdihadjsassi1@gmail.com" class="btn btn-outline-primary mr-4">Hire Me</a>
        <a href="https://www.linkedin.com/in/mahdi-hadj-sassi/" target="_blank" class="btn btn-outline-primary">Check
          LinkedIn</a>
        <a href="https://github.com/HadjSassi" target="_blank" class="btn btn-outline-primary">Check
          GitHub</a>
      </div>
    </div>
  </div>
</div>
