<nav [ngClass]="{'navbar-visible': isNavbarVisible, 'navbar-hidden': !isNavbarVisible}"
     class="fixed-top shadow-sm navbar-expand-lg bg-light py-3 px-lg-5 d-flex justify-content-between">
  <a routerLink="/home" class="navbar-brand ml-lg-3">
    <h1 class="m-0 display-5"><span class="text-primary">HADJ</span>SASSI</h1>
  </a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav m-auto d-flex justify-content-center">
      <a routerLink="/home" class="nav-item nav-link" routerLinkActive="active">Home</a>
      <a routerLink="/about" class="nav-item nav-link"routerLinkActive="active">About</a>
      <a routerLink="/qualification" class="nav-item nav-link" routerLinkActive="active">Experience</a>
      <a routerLink="/skill" class="nav-item nav-link" routerLinkActive="active">Skill</a>
      <a routerLink="/service" class="nav-item nav-link" routerLinkActive="active">Service</a>
      <a routerLink="/portfolio" class="nav-item nav-link" routerLinkActive="active">Portfolio</a>
      <a routerLink="/achievements" class="nav-item nav-link" routerLinkActive="active">Achievements</a>
      <a routerLink="/social" class="nav-item nav-link" routerLinkActive="active">Social Life</a>
      <a routerLink="/testimonial" class="nav-item nav-link" routerLinkActive="active">Review</a>
    </div>
    <a href="mailto:mahdihadjsassi1@gmail.com" class="btn btn-outline-primary d-none d-lg-block">Hire Me</a>
  </div>
</nav>
