<!-- navbar.component.html -->
<nav [ngClass]="{'navbar-visible': isNavbarVisible, 'navbar-hidden': !isNavbarVisible}"
     class="fixed-top shadow-sm navbar-expand-lg bg-light py-3 px-lg-5 d-flex justify-content-between">
  <a routerLink="/home" class="navbar-brand ml-lg-3">
    <h1 class="m-0 display-5"><span class="text-primary">HADJ</span>SASSI</h1>
  </a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav m-auto d-flex justify-content-center">
      <a routerLink="/home" fragment="home" class="nav-item nav-link" [ngClass]="{'active': isActive('home')}">Home</a>
      <a routerLink="/home" fragment="about" class="nav-item nav-link" [ngClass]="{'active': isActive('about')}">About</a>
      <a routerLink="/home" fragment="experience" class="nav-item nav-link" [ngClass]="{'active': isActive('experience')}">Experience</a>
      <a routerLink="/home" fragment="skill" class="nav-item nav-link" [ngClass]="{'active': isActive('skill')}">Skill</a>
      <a routerLink="/home" fragment="service" class="nav-item nav-link" [ngClass]="{'active': isActive('service')}">Service</a>
      <a routerLink="/home" fragment="portfolio" class="nav-item nav-link" [ngClass]="{'active': isActive('portfolio')}">Portfolio</a>
      <a routerLink="/home" fragment="achievement" class="nav-item nav-link" [ngClass]="{'active': isActive('achievement')}">Achievements</a>
      <a routerLink="/home" fragment="social" class="nav-item nav-link" [ngClass]="{'active': isActive('social')}">Social Life</a>
      <a routerLink="/home" fragment="review" class="nav-item nav-link" [ngClass]="{'active': isActive('review')}">Review</a>
    </div>
    <a href="mailto:mahdihadjsassi1@gmail.com" class="btn btn-outline-primary d-none d-lg-block">Hire Me</a>
  </div>
</nav>
