<!-- Modal Start -->
<div class="modal fade" id="mediaModal" tabindex="-1" aria-labelledby="mediaModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div id="modalMediaContainer"></div>
      </div>
    </div>
  </div>
</div>
<!-- Modal End -->

<!-- Content Start -->
<div class="container-fluid py-5">
  <div class="container">
    <div class="position-relative d-flex align-items-center justify-content-center">
      <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">{{ titleArticle }}</h1>
      <h1 class="position-absolute text-uppercase text-primary">{{ article.title }}</h1>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div>
          <p>{{ article.description }}</p>
        </div>
      </div>
      <div class="col-lg-6">
        <!-- Carousel Start -->
        <div class="carousel slide" data-ride="carousel" data-touch="true">
          <div class="carousel-inner">
            <ng-container *ngFor="let image of article.images; let i = index">
              <div class="carousel-item" [class.active]="i === 0">
                <img [src]="image" class="d-block w-100" alt="Image {{ i + 1 }}">
              </div>
            </ng-container>
          </div>
          <a class="carousel-control-prev" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <!-- Carousel End -->
      </div>
    </div>
    <br>
    <div class="row">
      <ng-container *ngFor="let video of article.videos">
        <div class="col-lg-6 mb-4">
          <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls>
              <source [src]="video" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<!-- Content End -->
