<div class="container-fluid py-5" id="skill">
  <div class="container">
    <div class="position-relative d-flex align-items-center justify-content-center">
      <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Skills</h1>
      <h1 class="position-absolute text-uppercase text-primary">My Skills</h1>
    </div>
    <div class="row align-items-center">
      <div class="col-md-3">
        <div class="skill mb-4">
          <div class="d-flex justify-content-between">
            <img src="https://upload.wikimedia.org/wikipedia/commons/1/19/C_Logo.png" alt="C"
                 class="skill-logo"/>
            <h6 class="font-weight-bold">C</h6>
            <h6 class="font-weight-bold skill-percentage" data-target="80">0%</h6>
          </div>
          <div class="progress">
            <div class="progress-bar bg-blue" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
        </div>
        <div class="skill mb-4">
          <div class="d-flex justify-content-between">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/1822px-ISO_C%2B%2B_Logo.svg.png"
                 alt="C++" class="skill-logo"/>
            <h6 class="font-weight-bold">C++</h6>
            <h6 class="font-weight-bold skill-percentage" data-target="70">0%</h6>
          </div>
          <div class="progress">
            <div class="progress-bar bg-blue" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
        </div>
        <div class="skill mb-4">
          <div class="d-flex justify-content-between">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Logo_C_sharp.svg/1820px-Logo_C_sharp.svg.png"
                 alt="C#" class="skill-logo"/>
            <h6 class="font-weight-bold">C#</h6>
            <h6 class="font-weight-bold skill-percentage" data-target="65">0%</h6>
          </div>
          <div class="progress">
            <div class="progress-bar bg-mauve" role="progressbar" aria-valuenow="65" aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
        </div>
        <div class="skill mb-4">
          <div class="d-flex justify-content-between">
            <img src="https://classes.engineering.wustl.edu/cse425s/images/2/26/Java.png"
                 alt="Java" class="skill-logo"/>
            <h6 class="font-weight-bold">Java</h6>
            <h6 class="font-weight-bold skill-percentage" data-target="85">0%</h6>
          </div>
          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
        </div>
        <div class="skill mb-4">
          <div class="d-flex justify-content-between">
            <img src="https://upload.wikimedia.org/wikipedia/fr/thumb/6/67/Jakarta_ee_logo_stacked.png/640px-Jakarta_ee_logo_stacked.png"
                 alt="JakartaEE" class="skill-logo"/>
            <img src="https://cdn.freebiesupply.com/logos/large/2x/spring-3-logo-png-transparent.png"
                 alt="Spring" class="skill-logo"/>
            <h6 class="font-weight-bold">Spring</h6>
            <h6 class="font-weight-bold">JakartaEE</h6>
            <h6 class="font-weight-bold skill-percentage" data-target="70">0%</h6>
          </div>
          <div class="progress">
            <div class="progress-bar bg-green" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
        </div>
        <div class="skill mb-4">
          <div class="d-flex justify-content-between">
            <img src="https://upload.wikimedia.org/wikipedia/commons/3/30/JavaFX_text_logo.png"
                 style="width: 20%" alt="JavaFX" class="skill-logo"/>
            <h6 class="font-weight-bold">JavaFX</h6>
            <h6 class="font-weight-bold skill-percentage" data-target="60">0%</h6>
          </div>
          <div class="progress">
            <div class="progress-bar bg-orange" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="skill mb-4">
          <div class="d-flex justify-content-between">
            <img src="https://e7.pngegg.com/pngimages/928/911/png-clipart-junit-software-testing-spring-framework-unit-testing-java-others-miscellaneous-text-thumbnail.png"
                 alt="Junit" class="skill-logo"/>
            <h6 class="font-weight-bold">Junit</h6>
            <h6 class="font-weight-bold skill-percentage" data-target="55">0%</h6>
          </div>
          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="55" aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
        </div>
        <div class="skill mb-4">
          <div class="d-flex justify-content-between">
            <img src="https://img.icons8.com/color/512/python.png" alt="Python" class="skill-logo"/>
            <h6 class="font-weight-bold">Python</h6>
            <h6 class="font-weight-bold skill-percentage" data-target="80">0%</h6>
          </div>
          <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
        </div>
        <div class="skill mb-4">
          <div class="d-flex justify-content-between">
            <img src="https://static-00.iconduck.com/assets.00/flask-icon-399x512-v0hqbifs.png" alt="Flask"
                 class="skill-logo"/>
            <h6 class="font-weight-bold">Flask</h6>
            <h6 class="font-weight-bold skill-percentage" data-target="70">0%</h6>
          </div>
          <div class="progress">
            <div class="progress-bar bg-dark" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
        </div>
        <div class="skill mb-4">
          <div class="d-flex justify-content-between">
            <img src="https://images.seeklogo.com/logo-png/44/2/streamlit-logo-png_seeklogo-441815.png"
                 alt="Streamlit" class="skill-logo"/>
            <h6 class="font-weight-bold">Streamlit</h6>
            <h6 class="font-weight-bold skill-percentage" data-target="65">0%</h6>
          </div>
          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="65" aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
        </div>
        <div class="skill mb-4">
          <div class="d-flex justify-content-between">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Selenium_Logo.png/1200px-Selenium_Logo.png"
                 alt="Selenium" class="skill-logo"/>
            <h6 class="font-weight-bold">Selenium</h6>
            <h6 class="font-weight-bold skill-percentage" data-target="70">0%</h6>
          </div>
          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
        </div>
        <div class="skill mb-4">
          <div class="d-flex justify-content-between">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/PHP-logo.svg/2560px-PHP-logo.svg.png"
                 style="width: 20%" alt="Php" class="skill-logo"/>
            <h6 class="font-weight-bold">PHP</h6>
            <h6 class="font-weight-bold skill-percentage" data-target="60">0%</h6>
          </div>
          <div class="progress">
            <div class="progress-bar bg-light-mauve" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="skill mb-4">
          <div class="d-flex justify-content-between">
            <img src="https://static.vecteezy.com/system/resources/previews/027/127/463/non_2x/javascript-logo-javascript-icon-transparent-free-png.png"
                 alt="JS" class="skill-logo"/>
            <h6 class="font-weight-bold">JavaScript</h6>
            <h6 class="font-weight-bold skill-percentage" data-target="85">0%</h6>
          </div>
          <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
        </div>
        <div class="skill mb-4">
          <div class="d-flex justify-content-between">
            <img src="https://cdn-icons-png.flaticon.com/512/919/919832.png" alt="TS" class="skill-logo"/>
            <h6 class="font-weight-bold">TypeScript</h6>
            <h6 class="font-weight-bold skill-percentage" data-target="80">0%</h6>
          </div>
          <div class="progress">
            <div class="progress-bar bg-cyan" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
        </div>
        <div class="skill mb-4">
          <div class="d-flex justify-content-between">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png"
                 alt="Angular" class="skill-logo"/>
            <h6 class="font-weight-bold">Angular</h6>
            <h6 class="font-weight-bold skill-percentage" data-target="70">0%</h6>
          </div>
          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
        </div>
        <div class="skill mb-4">
          <div class="d-flex justify-content-between">
            <img src="https://cdn.iconscout.com/icon/free/png-256/free-ionic-logo-icon-download-in-svg-png-gif-file-formats--technology-social-media-company-brand-vol-4-pack-logos-icons-2945013.png"
                 alt="Ionic" class="skill-logo"/>
            <h6 class="font-weight-bold">Ionic</h6>
            <h6 class="font-weight-bold skill-percentage" data-target="50">0%</h6>
          </div>
          <div class="progress">
            <div class="progress-bar bg-cyan" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
        </div>
        <div class="skill mb-4">
          <div class="d-flex justify-content-between">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/Sql_data_base_with_logo.png/640px-Sql_data_base_with_logo.png"
                 style="width: 20%" alt="SQL" class="skill-logo"/>
            <h6 class="font-weight-bold">Databases</h6>
            <h6 class="font-weight-bold skill-percentage" data-target="75">0%</h6>
          </div>
          <div class="progress">
            <div class="progress-bar bg-orange" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
        </div>
        <div class="skill mb-4">
          <div class="d-flex justify-content-between">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYAm56KxOvcav1Ze35W9hWx2gRFlWLYbCwpA&s"
                 alt="UML" class="skill-logo"/>
            <h6 class="font-weight-bold">UML</h6>
            <h6 class="font-weight-bold skill-percentage" data-target="70">0%</h6>
          </div>
          <div class="progress">
            <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="skill mb-4">
          <div class="d-flex justify-content-between">
            <img src="https://cdn-icons-png.flaticon.com/512/9887/9887948.png" alt="AI & ML"
                 class="skill-logo"/>
            <h6 class="font-weight-bold">AI & ML</h6>
            <h6 class="font-weight-bold skill-percentage" data-target="60">0%</h6>
          </div>
          <div class="progress">
            <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
        </div>
        <div class="skill mb-4">
          <div class="d-flex justify-content-between">
            <img src="https://pngimg.com/d/linux_PNG1.png" alt="Linux" class="skill-logo"/>
            <h6 class="font-weight-bold">Linux</h6>
            <h6 class="font-weight-bold skill-percentage" data-target="70">0%</h6>
          </div>
          <div class="progress">
            <div class="progress-bar bg-dark" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
        </div>
        <div class="skill mb-4">
          <div class="d-flex justify-content-between">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/92/LaTeX_logo.svg"
                 style="width: 20%;" alt="LaTeX" class="skill-logo"/>
            <h6 class="font-weight-bold">LaTeX</h6>
            <h6 class="font-weight-bold skill-percentage" data-target="60">0%</h6>
          </div>
          <div class="progress">
            <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
        </div>
        <div class="skill mb-4">
          <div class="d-flex justify-content-between">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Git_icon.svg/2048px-Git_icon.svg.png"
                 alt="Git" class="skill-logo"/>
            <h6 class="font-weight-bold">Git</h6>
            <h6 class="font-weight-bold skill-percentage" data-target="80">0%</h6>
          </div>
          <div class="progress">
            <div class="progress-bar bg-orange" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
        </div>
        <div class="skill mb-4">
          <div class="d-flex justify-content-between">
            <img src="https://logodownload.org/wp-content/uploads/2019/10/adobe-photoshop-logo-0.png"
                 alt="PS" class="skill-logo"/>
            <h6 class="font-weight-bold">Adobe Photoshop</h6>
            <h6 class="font-weight-bold skill-percentage" data-target="40">0%</h6>
          </div>
          <div class="progress">
            <div class="progress-bar bg-blue" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
        </div>
        <div class="skill mb-4">
          <div class="d-flex justify-content-between">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9qJrCd6_vXcgrq3waJHJyGNmG4VhysbmQbg&s"
                 alt="Pr" class="skill-logo"/>
            <h6 class="font-weight-bold">Adobe Premier Pro</h6>
            <h6 class="font-weight-bold skill-percentage" data-target="35">0%</h6>
          </div>
          <div class="progress">
            <div class="progress-bar bg-mauve" role="progressbar" aria-valuenow="35" aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
