<div class="container-fluid py-5" >
  <div class="container">
    <div class="position-relative d-flex align-items-center justify-content-center">
      <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">{{config.title}}</h1>
      <h1 class="position-absolute text-uppercase text-primary">{{config.subTitle}}</h1>
    </div>
    <div class="row align-items-center">
      <div class="col-md-3" *ngFor="let skill of skills">
        <div class="skill mb-4">
          <div class="d-flex justify-content-between">
            <img
              [src]="skill.logo"
              alt="{{ skill.name }}"
              class="skill-logo"
              [attr.style]="skill.style ? skill.style : null" />            <h6 class="font-weight-bold">{{ skill.name }}</h6>
            <h6 class="font-weight-bold skill-percentage" [attr.data-target]="skill.percentage">0%</h6>
          </div>
          <div class="progress">
            <div
              class="progress-bar"
              [style.background-color]="skill.color"
              role="progressbar"
              [attr.aria-valuenow]="skill.percentage"
              aria-valuemin="0"
              aria-valuemax="100">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
