<div class="container-fluid pt-5 pb-3" >
  <div class="container">
    <div class="position-relative d-flex align-items-center justify-content-center">
      <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">{{config.title}}</h1>
      <h1 class="position-absolute text-uppercase text-primary">{{config.subTitle}}</h1>
    </div>
    <div class="row">
      <div class="col-12 text-center mb-2">
        <ul class="list-inline mb-4" id="portfolio-flters">
          <li class="btn btn-sm btn-outline-primary m-1"
              [ngClass]="{'active': activeCategory === '*'}"
              (click)="filterPortfolio('*')">{{config.all}}</li>
          <li class="btn btn-sm btn-outline-primary m-1"
              [ngClass]="{'active': activeCategory === 'first'}"
              (click)="filterPortfolio('first')">{{config.web}}</li>
          <li class="btn btn-sm btn-outline-primary m-1"
              [ngClass]="{'active': activeCategory === 'second'}"
              (click)="filterPortfolio('second')">{{config.game}}</li>
          <li class="btn btn-sm btn-outline-primary m-1"
              [ngClass]="{'active': activeCategory === 'third'}"
              (click)="filterPortfolio('third')">{{config.datascience}}</li>
        </ul>
      </div>
    </div>
    <div class="row portfolio-container">
      <div *ngFor="let item of filteredItems"
           [ngClass]="['col-lg-4', 'col-md-6', 'mb-4', 'portfolio-item', item.category]"
           @fadeInOut>
        <div class="position-relative overflow-hidden mb-2">
          <img class="img-fluid rounded w-100" [src]="item.imageAbout" [alt]="item.name">
          <div class="portfolio-btn bg-primary d-flex align-items-center justify-content-center">
            <a (click)="openLink(item.link)" href="javascript:void(0);" data-lightbox="portfolio">
              <i class="fa fa-search text-white" style="font-size: 60px;"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


