<div class="container-fluid pt-5" id="service">
  <div class="container">
    <div class="position-relative d-flex align-items-center justify-content-center">
      <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Service</h1>
      <h1 class="position-absolute text-uppercase text-primary">My Services</h1>
    </div>
    <div class="row pb-3">
      <div class="col-lg-4 col-md-2 text-center mb-5">
        <div class="d-flex align-items-center justify-content-center mb-4">
          <i class="fa fa-2x fa-laptop service-icon bg-primary text-white mr-3"></i>
          <h4 class="font-weight-bold m-0">Desktop Apps Dev</h4>
        </div>
        <p>Developed multiple desktop applications using technologies such as JavaFX, Swing, C, C++, C#, and
          Python, with a primary focus on JavaFX for most projects.</p>

      </div>
      <div class="col-lg-4 col-md-6 text-center mb-5">
        <div class="d-flex align-items-center justify-content-center mb-4">
          <i class="fa fa-2x fa-laptop-code service-icon bg-primary text-white mr-3"></i>
          <h4 class="font-weight-bold m-0">Web Development</h4>
        </div>
        <p>Experienced in web development, utilizing HTML, CSS, and JavaScript for front-end design, with
          advanced development using Angular. For back-end development, proficient in Spring, Django, PHP
          Laravel, and Symfony.</p>

      </div>
      <div class="col-lg-4 col-md-6 text-center mb-5">
        <div class="d-flex align-items-center justify-content-center mb-4">
          <i class="fab fa-2x fa-android service-icon bg-primary text-white mr-3"></i>
          <h4 class="font-weight-bold m-0">Mobile Apps Dev</h4>
        </div>
        <p>Developed mobile applications both natively using Android Studio and as hybrid solutions using
          frameworks like Ionic and Flutter.</p>

      </div>
      <div class="col-lg-4 col-md-6 text-center mb-5">
        <div class="d-flex align-items-center justify-content-center mb-4">
          <i class="fa fa-2x fa-gamepad service-icon bg-primary text-white mr-3"></i>
          <h4 class="font-weight-bold m-0">Game Apps Dev</h4>
        </div>
        <p>Developed multiple game applications using JavaScript, C, Java, Python, and C#, with extensive
          experience in the Unity framework.</p>

      </div>
      <div class="col-lg-4 col-md-6 text-center mb-5">
        <div class="d-flex align-items-center justify-content-center mb-4">
          <i class="fa fa-2x fa-search service-icon bg-primary text-white mr-3"></i>
          <h4 class="font-weight-bold m-0">DataScience Apps</h4>
        </div>
        <p>Developed data science applications using Python, specializing in AI, machine learning, trading
          systems, and automation solutions.</p>

      </div>
      <div class="col-lg-4 col-md-6 text-center mb-5">
        <div class="d-flex align-items-center justify-content-center mb-4">
          <i class="fa fa-2x fa-graduation-cap  service-icon bg-primary text-white mr-3"></i>
          <h4 class="font-weight-bold m-0">IT Trainings</h4>
        </div>
        <p>Delivered IT training sessions in multiple fields, including web development, Git and GitHub, Linux,
          and various programming languages.</p>
        <a target="_blank" class="border-bottom border-primary text-decoration-none" href="itTrainer.html">Read More</a>
      </div>
    </div>
  </div>
</div>
