<div class="container-fluid py-5" id="testimonial">
  <div class="container">
    <div class="position-relative d-flex align-items-center justify-content-center">
      <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Review</h1>
      <h1 class="position-absolute text-uppercase text-primary">Clients Say</h1>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="owl-carousel testimonial-carousel">
          <div class="text-center">
            <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
            <h4 class="font-weight-light mb-4">Tunis Sports University innove et grâce au travail
              de notre étudiant Mehdi Haj Sassi, nous avons désormais un nouveau site WEB que vous pouvez
              désormais consulter et où vous trouverez toutes les informations relatives à notre
              travail.</h4>
            <img class="img-fluid rounded-circle mx-auto mb-3" src="img/benabdallahmehdi.jpg"
                 alt="Mr BEN ABDALLAH Mehdi"
                 style="width: 80px; height: 80px;">
            <h5 class="font-weight-bold m-0">BEN ABDALLAH Mehdi</h5>
            <span>Tunis Sports University Owner</span>
          </div>
          <div class="text-center">
            <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
            <h4 class="font-weight-light mb-4">good job done by mahdi</h4>
            <img class="img-fluid rounded-circle mx-auto mb-3" alt="Saoudite Client"
                 src="https://cdn5.f-cdn.com/ppic/229851141/logo/19416088/Jmk41/CROPPED_profile_logo_UXUJC_16ada05214aa9a815c6159c4ab557994.jpeg?image-optimizer=force&format=webply&width=336"
                 style="width: 80px; height: 80px;">
            <h5 class="font-weight-bold m-0">Naif A</h5>
            <span>Professional Engineer</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
