<div class="container-fluid py-5" >
  <div class="container">
    <div class="position-relative d-flex align-items-center justify-content-center">
      <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Achievements</h1>
      <h1 class="position-absolute text-uppercase text-primary">Achievements</h1>
    </div>
    <div class="row align-items-center">
      <div class="col">
        <div *ngFor="let category of achievements">
          <h3 class="mb-4">{{ category.category }}</h3>
          <div class="border-left border-primary pt-2 pl-4 ml-2">
            <div *ngFor="let item of category.items" class="position-relative mb-4">
              <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
              <h5 class="font-weight-bold mb-1">{{ item.title }}</h5>
              <p class="mb-2">
                <strong><a target="_blank" [href]="item.link">{{ item.location }}</a></strong> |
                <small>{{ item.date }}</small>
              </p>
              <p [innerHTML]="item.description"></p>
              <p>
                <a target="_blank" [href]="'Achievements/'+item.id">Check Media</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
