<i *ngIf="!showBackToTopButton" class="fa fa-2x fa-angle-down text-white scroll-to-bottom" (click)="scrollToBottom()"></i>


<!-- Back to Top -->
<span *ngIf="showBackToTopButton" class=" px-0 back-to-top" (click)="scrollToTop()">
  <i class="fa fa-angle-double-up"></i>
</span>
<app-header id = "home"></app-header>
<app-about id = "about"></app-about>
<app-experience id = "experience"></app-experience>
<app-skills id = "skill"></app-skills>
<app-services id = "service"></app-services>
<app-portfolio id = "portfolio"></app-portfolio>
<app-achievements id = "achievement"></app-achievements>
<app-social-life id = "social"></app-social-life>
<app-reviews id = "review"></app-reviews>
<app-contact id = "contact"></app-contact>
<app-footer id = "footer"></app-footer>
