<!-- Video Modal Start -->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close bg-transparent" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <!-- 16:9 aspect ratio -->
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/cXCgT-_6474?si=_KxtLToxJtPxymkP"
                  title="YouTube video player" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Video Modal End -->
<app-header></app-header>
<app-about id="about"></app-about>
<app-experience></app-experience>
<app-skills></app-skills>
<app-services></app-services>
<app-portfolio></app-portfolio>
<app-achievements></app-achievements>
<app-social-life></app-social-life>
<app-reviews></app-reviews>
<app-contact></app-contact>
<app-footer></app-footer>
